
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio de Sesión</title>
</head>
<body>
  
  <p>registrar ingreso y salida de visitantes .</p>
  
  <form method="POST">
    <label>nombre del visitante:</label><br>
    <input type="text" name="usuario" required><br><br>

    <label>hora de entrada:</label><br>
    <input type="text" name="usuario" required><br><br>

    <label>hora de salida :</label><br>
    <input type="text" name="usuario" required><br><br>

    
 
</body>
</html>
