{%extends "index.html"%} 
{% block menu %} 
{% include "menu.html" %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
<script src="../static/js/app.js"></script>

<table border="1">
    <thead>
        <tr>
            <th>Nombre del visitante</th>
            <th>Fecha de la visita</th>
            <th>Oficina visitada</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for visitante in visitantes %}
        <tr>
            <td>{{ visitante.nombre }}</td>
            <td>{{ visitante.fecha_visita.strftime('%d-%m-%Y %H:%M') }}</td> 
            <td>{{ visitante.oficina.nombre }}</td>
            <td>{{ visitante.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    new DataTable('#tableGuias');
</script>
{% endblock %} 

{% block piePagina %} 
    {% include "piePagina.html" %} 
{% endblock  %}
